
h1{
    
     font-size:90x;
    color:black;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

img {
    width:70%;
    filter: blur(0);
    margin-top: 20px;
}

a:hover img {
    filter: blur(8px);
}

div.desc {
   
    font-size: 20px;
    font-family:serif;
    margin: 20%, 20% 20%,20%;
   
}

div {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
}
.flex-container { 
    height:auto;
  display: flex; 
    text-align: center;
    flex-wrap: wrap;


   }
