body {
    margin: 0;
    padding: 0;
}
main {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    height: 700px;ç
    margin: 0, 0, 0 ,0;
}

header #logo {
    position: fixed;
    top: 0;
    left: 50px; /* igual que article */
}

#logo > img {
 width: 20%;
}

header nav {
    padding-top: 10px;
}

nav li {
    display: inline-block; 
    color:white;
     box-sizing: border-box;
    
}

header nav li {
    width: 20ex;
    text-transform: uppercase;
}

header nav {
    position: fixed;
    top: 0;
    right: 50px;
}

main #texto {
    padding-top: 10em;
    padding-left: 50px; /* igual que logo */
    width: 50%;
    box-sizing: border-box;
}

main #texto > * {
    padding: 1em;
}

main a {
    text-decoration: none;
    color: blue;
}

main #leyendaImagen {
    width: 50%;
    padding-left: 50%;
}

#leyendaImagen img {
    width: 2em;
    height: auto;
}

#leyendaImagen hr {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 80%;
    
}

#separador {
    background-color: #2a2829; 
    height: 20px;
}

footer {
    background-color: #2a2829;
    height: 150px;
    display: flex;
    flex-direction: row;
}

footer img {
    padding-left: 1em;
    width: 3em;
   
}
footer div {
    box-sizing: border-box;
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: lightgrey;    
}
.producto {
    display: block;
    padding-left: 2em;
}

button{
    color: white;
    background-color: deepskyblue;
    width: 150px;
    height: 30px;
    border: none;
}