:root{
    --color-light: #ffffff;
    --color-black: #1b1b1b;
    --color-green: #194A3A;
}

body{
font-family: 'Dosis', sans-serif;
font-weight: 200px;
background-color: var(--color-green);
color: var(--color-light);
}

.bg-light{
color: #194A3A;
}

section{
    background-color: var(--color-light);
}